
.vs/FirehouseSubs/DesignTimeBuild/

.vs/FirehouseSubs/FileContentIndex/

.vs/FirehouseSubs/v17/

.vs/ProjectEvaluation/

FirehouseSubs.Tests/bin/Debug/net6.0/

FirehouseSubs.Tests/obj/Debug/net6.0/

FirehouseSubs.Tests/obj/

FirehouseSubs/obj/Debug/net6.0/

FirehouseSubs/obj/

FirehouseSubs/bin/Debug/net6.0/
